.top {
  display: flex;
  justify-content: center;
  padding: 4rem;
  color: $c-primary;
}

.headshot {
  width: 100%;
  // border: 2px solid $c-primary;
  border-radius: 0.4rem;
  background: $c-background;
  text-align: center;

  &__pic {
    border-radius: 50%;
  }
}
