// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

// $c-primary: #455a38;
$c-primary: #607d8b;

@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'top';

.mid {
  display: flex;
  flex-grow: 1;
}
