// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

// $c-primary: #455a38;
$c-primary: #607d8b;
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'top';

.mid {
  display: flex;
  justify-content: center;
  padding: 4rem;

  &-img {
    flex-grow: 1;

    &__1 {
      width: calc(100% / 4 - 0.5rem);
      height: 15rem;
      background: url('../skyline2.jpeg') no-repeat center bottom;
    }

    &__2 {
      width: calc(100% / 4 - 0.5rem);
      height: 15rem;
      background: url('../couch.jpg') no-repeat center bottom;
      background-size: cover;
    }

    &__3 {
      width: calc(100% / 4 - 0.5rem);
      height: 15rem;
      background: url('../river-birch.jpg') no-repeat center bottom;
      background-size: cover;
    }

    &__4 {
      width: calc(100% / 4 - 0.5rem);
      height: 15rem;
      background: url('../skyline2.jpeg') no-repeat center bottom;
    }
  }
}
